.border-gray {
    border: 1px solid rgb(92, 184, 92)
}

#profile_header {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#white_outlined_header {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.expense-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

button:hover {
    border-color: black !important;
    color: #28a745; 
}

#budget_background {
    background-image: url('../../static/img/budgetBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#profile_background {
    background-image: url('../../static/img/profileBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#authentication_background {
    background-image: url('../../static/img/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.nav-link:hover {
    color: white !important; 
}

#budget_link:hover {
    color: white !important; 
}

.navbar-toggler {
    border-color: #28a745 !important;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
