{% extends 'base.html' %}

{% block content %} 
    <header class="bg-dark text-success text-center shadow py-3">
        <div class="container p-5 bg-dark">
            <div class="row">
                <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                    <h1 class="col text-center">{{ current_user.first_name }}'s Budget</h1>
                </div>
            </div>
        </div>
    </header>

    <div style="background-image: url('../../static/img/budgetBackground.jpg'); background-size: cover;" class="vh-100">
        <div class="container">
            <div class="row text-center" id="budget_header">
                <div class="col-4">
                    <h2>Total Income:</h2>
                    <input type="text" value="0" name="total_income" id="income">
                </div>
                <div class="col-4">
                    <h2>Total Expenses:</h2>
                    <p id="total_expenses" id="total_expenses">0</p>
                </div>
                <div class="col-4">
                    <h2>Surplus/Deficit:</h2>
                    <p id="surplus_deficit" id="surplus_deficit">0</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-4">
                    <h4>Needs</h4>
                </div>
                <div class="col-4">
                    <h4>Savings</h4>
                </div>
                <div class="col-4">
                    <h4>Wants</h4>
                </div>
            </div>
      
            <div class="row">
                <div class="col-4">
                    <div class="grid-container text-success" id="needs">
                        <div class="grid-item bg-dark border-gray">
                            <h5>Housing</h5>
                            <input type="text" value="0" name="housing">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Transportation</h5>
                            <input type="text" value="0" name="transportation">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Groceries</h5>
                            <input type="text" value="0" name="groceries">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Utilities</h5>
                            <input type="text" value="0" name="utilities">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Healthcare</h5>
                            <input type="text" value="0" name="healthcare">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Debt Payments</h5>
                            <input type="text" value="0" name="debt_payments">
                        </div>
                        <div class="grid-item bg-dark">
                            <button onclick="showExpensePopup('needs')">Add Expense</button>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="grid-container text-success" id="savings">
                        <div class="grid-item bg-dark border-gray">
                            <h5>Emergency Fund</h5>
                            <input type="text" value="0" name="emergency_fund">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Retirement</h5>
                            <input type="text" value="0" name="retirement">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Vacation</h5>
                            <input type="text" value="0" name="vacation">
                        </div>
                        <div class="grid-item bg-dark">
                            <button onclick="showExpensePopup('savings')">Add Expense</button>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="grid-container text-success" id="wants">
                        <div class="grid-item bg-dark border-gray">
                            <h5>Entertainment</h5>
                            <input type="text" value="0" name="entertainment">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Dining Out</h5>
                            <input type="text" value="0" name="dining_out">
                        </div>
                        <div class="grid-item bg-dark border-gray">
                            <h5>Hobbies</h5>
                            <input type="text" value="0" name="hobbies">
                        </div>
                        <div class="grid-item bg-dark">
                            <button onclick="showExpensePopup('wants')">Add Expense</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="expense-popup" class="expense-popup bg-dark text-success">
        <div class="expense-popup-content">
            <h4>Add Expense</h4>
            <input type="text" id="expense-name-input" placeholder="Expense Name" required>
            <input type="number" id="expense-value-input" placeholder="Expense Value">
            <div class="expense-popup-actions">
                <button onclick="saveExpense()">Save</button>
                <button onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>

    
    <script>
        const token = "{{ current_user.token }}"

        console.log(token)

        function checkForData() {
            fetch('/api/checkexpenses', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'x-access-token': 'Bearer ' + token
                },
            })
            .then(response => {
                if (!response.ok) {
                    alert('Failed to get the data. Please try again.');
                } else {
                    // Parse the JSON response and update the budget page
                    response.json()
                    .then(data => {
                        console.log(data);
                        if (typeof data === 'string' && data === "User and/or data not found") {
                            // No data found, create default data and update the budget page
                            console.log('no data found');
                            createDefaultData();
                        } else {
                            updateBudgetPage(data);
                        }
                    })
                    .catch(error => {
                        console.error('Error parsing JSON:', error);
                        alert('An error occurred while parsing JSON. Please try again.');
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }



        function createDefaultData() {

    
            

            fetch('/api/createexpenses', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'x-access-token': 'Bearer ' + token
                },
                body: JSON.stringify()
            })
            .then(response => {
                if (response.ok) {
                    // Update the budget page with the default data
                    updateBudgetPage();
                } else {
                    alert('Failed to create default data. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }

        checkForData()

        // function updateTotals() {
        //     // Get the total income entered by the user
        //     var totalIncomeInput = document.getElementById('total_income_input');
        //     var totalIncome = parseFloat(totalIncomeInput.value);

        //     // Calculate the total expenses
        //     var totalExpenses = 0;
        //     var expenseInputs = document.querySelectorAll('input[name^="housing"], input[name^="transportation"], input[name^="groceries"], input[name^="utilities"], input[name^="healthcare"], input[name^="debt_payments"], input[name^="emergency_fund"], input[name^="retirement"], input[name^="vacation"], input[name^="entertainment"], input[name^="dining_out"], input[name^="hobbies"]');
        //     for (var i = 0; i < expenseInputs.length; i++) {
        //         var expenseValue = parseFloat(expenseInputs[i].value);
        //         totalExpenses += isNaN(expenseValue) ? 0 : expenseValue;
        //     }

        //     // Calculate the surplus/deficit
        //     var surplusDeficit = totalIncome - totalExpenses;

        //     // Update the total expenses and surplus/deficit elements
        //     var totalExpensesElement = document.getElementById('total_expenses');
        //     totalExpensesElement.textContent = totalExpenses.toFixed(2);

        //     var surplusDeficitElement = document.getElementById('surplus_deficit');
        //     surplusDeficitElement.textContent = surplusDeficit.toFixed(2);

        //     // Send the updated expense data to the backend API
        //     var data = {
        //         expenses: {
        //             housing: parseFloat(document.querySelector('input[name="housing"]').value),
        //             transportation: parseFloat(document.querySelector('input[name="transportation"]').value),
        //             groceries: parseFloat(document.querySelector('input[name="groceries"]').value),
        //             utilities: parseFloat(document.querySelector('input[name="utilities"]').value),
        //             healthcare: parseFloat(document.querySelector('input[name="healthcare"]').value),
        //             debt_payments: parseFloat(document.querySelector('input[name="debt_payments"]').value),
        //             emergency_fund: parseFloat(document.querySelector('input[name="emergency_fund"]').value),
        //             retirement: parseFloat(document.querySelector('input[name="retirement"]').value),
        //             vacation: parseFloat(document.querySelector('input[name="vacation"]').value),
        //             entertainment: parseFloat(document.querySelector('input[name="entertainment"]').value),
        //             dining_out: parseFloat(document.querySelector('input[name="dining_out"]').value),
        //             hobbies: parseFloat(document.querySelector('input[name="hobbies"]').value),
        //         }
        //     };

        //     fetch('/api/expenses', {
        //         method: 'PUT',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'x-access-token': 'Bearer ' + token
        //         },
        //         body: JSON.stringify(data)
        //     })
        //     .then(response => {
        //         if (!response.ok) {
        //             alert('Failed to save the data. Please try again.');
        //         }
        //     })
        //     .catch(error => {
        //         console.error('Error:', error);
        //         alert('An error occurred. Please try again.');
        //     });
        // }

        function updateBudgetPage(data) {
            document.getElementById('income').value = data.income;
            
            const totalExpenses = calculateTotalExpenses(data);
            document.getElementById('total_expenses').textContent = totalExpenses.toString();
            
            // Calculate surplus/deficit and set the value for the corresponding element
            const surplusDeficit = data.income - totalExpenses;
            document.getElementById('surplus_deficit').textContent = surplusDeficit.toString();

        // Update expense input values for each category.
            for (const category in data.expenses) {
                if (data.expenses.hasOwnProperty(category)) {
                    const expenseValue = data.expenses[category];
                    const expenseInput = document.querySelector(`input[name="${category}"]`);
                    if (expenseInput) {
                        expenseInput.value = expenseValue;
                    }
                }
            }
        }

        function calculateTotalExpenses(data) {
            let totalExpenses = 0;
            for (const category in data) {
                if (category !== 'income') {
                totalExpenses += data[category];
                }
            }
            return totalExpenses;
        }


        var totalIncomeInput = document.getElementById('total_income_input');
        // totalIncomeInput.addEventListener('input', updateTotals);

        // Call updateTotals initially to set the initial values and save data in the database
        // updateTotals();
        
        
        // function showExpensePopup(category) {
        //     var popup = document.getElementById("expense-popup");
        //     popup.style.display = "block";

        //     var expenseNameInput = document.getElementById("expense-name-input");
        //     expenseNameInput.value = '';

        //     var expenseValueInput = document.getElementById("expense-value-input");
        //     expenseValueInput.value = '';

        //     popup.setAttribute('data-category', category);
        // }

        // function saveExpense() {
            
        //     var expenseNameInput = document.getElementById('expense-name-input');
        //     var expenseValueInput = document.getElementById('expense-value-input');
        //     var category = document.getElementById('expense-popup').getAttribute('data-category');

        //     var expenseName = expenseNameInput.value;
        //     var expenseValue = expenseValueInput.value;

        //     if (!expenseName) {
        //         alert('Expense name is required.');
        //         return;
        //     }

        //     // Send the expense data to the API endpoint
        //     var data = {
        //         [expenseName]: parseFloat(expenseValue)
        //     };

        //     fetch('/api/expenses', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'x-access-token': 'Bearer ' + token
        //         },
        //         body: JSON.stringify(data)
        //     })
        //     .then(response => {
        //         if (response.ok) {
        //             // Add the expense to the grid
        //             var expenseSection = document.createElement('div');
        //             expenseSection.classList.add('grid-item', 'bg-dark', 'border-gray');

        //             var expenseNameHeader = document.createElement('h5');
        //             expenseNameHeader.textContent = expenseName;
        //             expenseSection.appendChild(expenseNameHeader);

        //             var expenseValueInput = document.createElement('input');
        //             expenseValueInput.type = 'text';
        //             expenseValueInput.value = expenseValue;
        //             expenseValueInput.name = category;
        //             expenseSection.appendChild(expenseValueInput);

        //             var container = document.getElementById(category);
        //             container.insertBefore(expenseSection, container.lastElementChild);

        //             closePopup();
        //         } else {
        //             alert('Failed to add the expense. Please try again.');
        //         }
        //     })
        //     .catch(error => {
        //         console.error('Error:', error);
        //         alert('An error occurred. Please try again.');
        //     });
        // }


        function closePopup() {
            var popup = document.getElementById("expense-popup");
            popup.style.display = "none";
        }
    </script>

{% endblock %}