.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-item-left {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.grid-item-right {
    text-align: right;
    border: 1px solid #ccc;
    padding: 10px;
}

.border-gray {
    border-color: #ccc;
}

#profile_header {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}